* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/*  */



.root {
  background-image: url('.\assets\bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
}

@media screen and (orientation: portrait) {
  .root {
    background-image: url('.\assets\bg2.jpg');
  }
}

.overlay-class {
  backdrop-filter: none;
  background: transparent;
  display: none;
  background: transparent !important;
}

