* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.root {
  /* background-color: #7bd9f6a2; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('./assets/img2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
   font-family: 'Poppins'
}


